<a href="https://colab.research.google.com/github/rahibahmed/Assignment1DataCollection/blob/main/Assignment2DataCollectionAndCuration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get update #update linux
!apt-get install openjdk-8-jdk-headless -qq > /dev/null #download and install openjdk
!wget -q http://archive.apache.org/dist/spark/spark-3.2.1/spark-3.2.1-bin-hadoop2.7.tgz #download spark binary (gunzip). -q: Turn off Wgetâ€™s output.
!tar xf spark-3.2.1-bin-hadoop2.7.tgz #extract the spark package
!pip install -q findspark #install the findspark package

Hit:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Get:6 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:7 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [85.6 kB]
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:15 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,526 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,329 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [1,057 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,302 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,897 kB]
Fetched 11.5 MB in 4s (2,937 kB/s)
Reading package lists... Done

In [ ]:
#set environment variables
import os 
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop2.7"

In [ ]:
# From Spark 2.0, SparkSession provides a common entry point for a Spark application
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate() 
spark.conf.set('spark.sql.shuffle.partitions', 6)
# spark.conf.set('spark.executor.memory', '2g')
spark

In [ ]:
!ls

sample_data  spark-3.2.1-bin-hadoop2.7	spark-3.2.1-bin-hadoop2.7.tgz

In [ ]:
!ls sample_data

anscombe.json		      mnist_test.csv	     POI.csv
california_housing_test.csv   mnist_train_small.csv  README.md
california_housing_train.csv  orders_data.zip

##UNZIP THE ORDERSDATA

In [ ]:
!unzip -q sample_data/orders_data.zip -d sample_data/orders_data

In [ ]:
!ls sample_data/orders_data

orders_100.csv	orders_28.csv  orders_46.csv  orders_64.csv  orders_82.csv
orders_10.csv	orders_29.csv  orders_47.csv  orders_65.csv  orders_83.csv
orders_11.csv	orders_2.csv   orders_48.csv  orders_66.csv  orders_84.csv
orders_12.csv	orders_30.csv  orders_49.csv  orders_67.csv  orders_85.csv
orders_13.csv	orders_31.csv  orders_4.csv   orders_68.csv  orders_86.csv
orders_14.csv	orders_32.csv  orders_50.csv  orders_69.csv  orders_87.csv
orders_15.csv	orders_33.csv  orders_51.csv  orders_6.csv   orders_88.csv
orders_16.csv	orders_34.csv  orders_52.csv  orders_70.csv  orders_89.csv
orders_17.csv	orders_35.csv  orders_53.csv  orders_71.csv  orders_8.csv
orders_18.csv	orders_36.csv  orders_54.csv  orders_72.csv  orders_90.csv
orders_19.csv	orders_37.csv  orders_55.csv  orders_73.csv  orders_91.csv
orders_1.csv	orders_38.csv  orders_56.csv  orders_74.csv  orders_92.csv
orders_20.csv	orders_39.csv  orders_57.csv  orders_75.csv  orders_93.csv
orders_21.csv	orders_3.csv   orders_58.csv  orders_76.csv  orders_94.csv
orders_22.csv	orders_40.csv  orders_59.csv  orders_77.csv  orders_95.csv
orders_23.csv	orders_41.csv  orders_5.csv   orders_78.csv  orders_96.csv
orders_24.csv	orders_42.csv  orders_60.csv  orders_79.csv  orders_97.csv
orders_25.csv	orders_43.csv  orders_61.csv  orders_7.csv   orders_98.csv
orders_26.csv	orders_44.csv  orders_62.csv  orders_80.csv  orders_99.csv
orders_27.csv	orders_45.csv  orders_63.csv  orders_81.csv  orders_9.csv

##**1. IMPORT DATA DEFINED BY ORDER SCHEMA**

In [ ]:
from pyspark.sql.types import *

file_location = "sample_data/orders_data/orders_*.csv"

# create schema
ordersSchema = StructType([
  StructField("Order_ID", DoubleType(), True),
  StructField("Country", StringType(), True),
  StructField("Province", StringType(), True),
  StructField("City", StringType(), True),
  StructField("Latitude", DoubleType(), True),
  StructField("Longitude", DoubleType(), True),
  StructField("TimeStamp", StringType(), True),
  StructField("Sales_Volume", DoubleType(), True)
  ])

# create DataFrame 
data = (
  spark
    .read
    .schema(ordersSchema)
    .csv(file_location)
)


# create table for SQL analytics
data.createOrReplaceTempView("orders")

data.show()

+--------+-------+--------+--------------------+---------+---------+-------------------+------------+
|Order_ID|Country|Province|                City| Latitude|Longitude|          TimeStamp|Sales_Volume|
+--------+-------+--------+--------------------+---------+---------+-------------------+------------+
|231542.0| Canada|      AB|             Calgary|-113.9835|-113.9389|2022/04/22 08:28:49|       41.49|
|473450.0| Canada|      AB|            Edmonton|-113.4467|-113.3654|2022/04/22 05:04:24|       48.52|
|376604.0| Canada|      AB|        Medicine Hat|-110.5798|-110.4884|2022/04/22 18:14:14|       60.79|
|440105.0| Canada|      AB|       Sherwood Park|-113.2427| -113.242|2022/04/22 11:27:20|       77.81|
|483058.0| Canada|      AB|            Beaumont|-113.3783|-113.2894|2022/04/22 21:04:24|       12.06|
|303271.0| Canada|      AB|            Edmonton|-113.3609|-113.3519|2022/04/22 06:32:45|        99.0|
|444942.0| Canada|      AB|       Fort Mcmurray|-111.4019|-111.4018|2022/04/22 10:44:56|       11.83|
|477498.0| Canada|      NB|Macdougall Settle...| -64.7586| -64.6739|2022/04/22 04:11:29|        13.5|
|250410.0| Canada|      AB|       Sherwood Park|-113.2142|-113.1836|2022/04/22 10:51:42|       48.38|
|317257.0| Canada|      AB|         Fort Mackay|-111.4923|-111.4908|2022/04/22 03:45:16|       11.91|
|271051.0| Canada|      ON|              Milton| -79.8018| -79.7156|2022/04/22 02:51:53|       80.74|
|242527.0| Canada|      AB|             Calgary|-113.9316|-113.8966|2022/04/22 09:42:40|        61.4|
|363883.0| Canada|      ON|            Brampton|  -79.712| -79.6918|2022/04/22 23:28:53|       68.76|
|432813.0| Canada|      ON|       Richmond Hill| -79.3341|  -79.325|2022/04/22 15:50:34|       59.05|
|449879.0| Canada|      QC|               Laval| -73.7235| -73.6431|2022/04/22 22:59:29|       92.37|
|455167.0| Canada|      NS|              Sydney|  -60.119| -60.1075|2022/04/22 18:59:53|       89.23|
|219972.0| Canada|      ON|       Richmond Hill| -79.3696| -79.2793|2022/04/22 14:34:03|        5.22|
|475590.0| Canada|      ON|             Windsor| -83.0281| -82.9607|2022/04/22 20:11:19|        1.35|
|213890.0| Canada|      BC|            Richmond|-122.9574|-122.8935|2022/04/22 18:11:25|        8.37|
|302898.0| Canada|      QC|        Charlesbourg| -71.2374| -71.1506|2022/04/22 01:54:45|       30.06|
+--------+-------+--------+--------------------+---------+---------+-------------------+------------+
only showing top 20 rows

###**Creating Data Stream for ordersSchema**

In [ ]:
from pyspark.sql.functions import *

# create streaming DF
streamingDF = (
  spark
    .readStream                       
    .schema(ordersSchema)              # schema for the streaming DF
    .option("maxFilesPerTrigger", 1)  # Form a stream by triggering one file at a time
    .csv(file_location)
)

# Is it a streaming DF?
print(streamingDF.isStreaming)

True

###**Creating temp view for dataframe**

In [ ]:
streamingDF.createOrReplaceTempView("ordersSQL")

###**Unique Cities in the dataset**

In [ ]:
uniqueCity = spark.sql("SELECT count(distinct city) as UniqueCity FROM all_orders")
uniqueCity.show()

+----------+
|UniqueCity|
+----------+
|       619|
+----------+

###**Querying the dataframe**

In [ ]:
streamVol = spark.sql("SELECT Province, TimeStamp from ordersSQL GROUP BY Province, TimeStamp ORDER BY TimeStamp DESC")

###**Write Stream to display query results**

In [ ]:
query = (
  streamVol
    .writeStream
    .format("memory")        # store in-memory table
    .queryName("orders_k")     
    .outputMode("complete")  
    .start()
)

##**2. Latest time of the order that was made in the province**

In [ ]:
spark.sql("SELECT Province, MAX(TimeStamp) TimeStamp FROM orders_k GROUP BY Province").show()

+--------+-------------------+
|Province|          TimeStamp|
+--------+-------------------+
|      AB|2022/04/23 01:13:04|
|      BC|2022/04/23 01:05:14|
|      MB|2022/04/23 00:25:42|
|      NB|2022/04/23 00:47:52|
|      NL|2022/04/23 00:36:20|
|      NS|2022/04/23 00:19:17|
|      NT|2022/04/22 17:33:18|
|      ON|2022/04/23 01:18:38|
|      PE|2022/04/22 23:23:21|
|      QC|2022/04/23 01:17:12|
|      SK|2022/04/23 01:19:30|
|      YT|2022/04/22 20:48:47|
+--------+-------------------+

###Query Check 1 for province YT

In [ ]:
spark.sql("SELECT Province, TimeStamp FROM orders_k Where Province='YT' order by TimeStamp DESC").show()

+--------+-------------------+
|Province|          TimeStamp|
+--------+-------------------+
|      YT|2022/04/22 20:48:47|
|      YT|2022/04/22 07:53:22|
|      YT|2022/04/22 05:09:08|
+--------+-------------------+

###Query Check 1 for province AB

In [ ]:
spark.sql("SELECT Province, TimeStamp FROM orders_k Where Province='AB' order by TimeStamp DESC").show(5)

+--------+-------------------+
|Province|          TimeStamp|
+--------+-------------------+
|      AB|2022/04/23 01:13:04|
|      AB|2022/04/23 01:09:22|
|      AB|2022/04/23 01:07:05|
|      AB|2022/04/23 01:06:51|
|      AB|2022/04/23 01:02:53|
+--------+-------------------+
only showing top 5 rows

##**3. Import POI data set**

In [ ]:
from pyspark.sql.types import *

file_location_POI = "sample_data/POI.csv"

# create schema
poi = StructType([
  StructField("POI_ID", StringType(), True),
  StructField("Latitude_POI", DoubleType(), True),
  StructField("Longitude_POI", DoubleType(), True)
  ])
inferSchema = "true"
firstRowHeader = "true"
delimeter = ","
file_type = "csv"
# create DataFrame 
df_poi = (
  spark.read.load(file_location_POI,format=file_type, header=firstRowHeader, sep=delimeter, schema=poi)
)


# create table for SQL analytics
data.createOrReplaceTempView("poi")

data.show()

+--------+-------+--------+--------------------+---------+---------+-------------------+------------+
|Order_ID|Country|Province|                City| Latitude|Longitude|          TimeStamp|Sales_Volume|
+--------+-------+--------+--------------------+---------+---------+-------------------+------------+
|231542.0| Canada|      AB|             Calgary|-113.9835|-113.9389|2022/04/22 08:28:49|       41.49|
|473450.0| Canada|      AB|            Edmonton|-113.4467|-113.3654|2022/04/22 05:04:24|       48.52|
|376604.0| Canada|      AB|        Medicine Hat|-110.5798|-110.4884|2022/04/22 18:14:14|       60.79|
|440105.0| Canada|      AB|       Sherwood Park|-113.2427| -113.242|2022/04/22 11:27:20|       77.81|
|483058.0| Canada|      AB|            Beaumont|-113.3783|-113.2894|2022/04/22 21:04:24|       12.06|
|303271.0| Canada|      AB|            Edmonton|-113.3609|-113.3519|2022/04/22 06:32:45|        99.0|
|444942.0| Canada|      AB|       Fort Mcmurray|-111.4019|-111.4018|2022/04/22 10:44:56|       11.83|
|477498.0| Canada|      NB|Macdougall Settle...| -64.7586| -64.6739|2022/04/22 04:11:29|        13.5|
|250410.0| Canada|      AB|       Sherwood Park|-113.2142|-113.1836|2022/04/22 10:51:42|       48.38|
|317257.0| Canada|      AB|         Fort Mackay|-111.4923|-111.4908|2022/04/22 03:45:16|       11.91|
|271051.0| Canada|      ON|              Milton| -79.8018| -79.7156|2022/04/22 02:51:53|       80.74|
|242527.0| Canada|      AB|             Calgary|-113.9316|-113.8966|2022/04/22 09:42:40|        61.4|
|363883.0| Canada|      ON|            Brampton|  -79.712| -79.6918|2022/04/22 23:28:53|       68.76|
|432813.0| Canada|      ON|       Richmond Hill| -79.3341|  -79.325|2022/04/22 15:50:34|       59.05|
|449879.0| Canada|      QC|               Laval| -73.7235| -73.6431|2022/04/22 22:59:29|       92.37|
|455167.0| Canada|      NS|              Sydney|  -60.119| -60.1075|2022/04/22 18:59:53|       89.23|
|219972.0| Canada|      ON|       Richmond Hill| -79.3696| -79.2793|2022/04/22 14:34:03|        5.22|
|475590.0| Canada|      ON|             Windsor| -83.0281| -82.9607|2022/04/22 20:11:19|        1.35|
|213890.0| Canada|      BC|            Richmond|-122.9574|-122.8935|2022/04/22 18:11:25|        8.37|
|302898.0| Canada|      QC|        Charlesbourg| -71.2374| -71.1506|2022/04/22 01:54:45|       30.06|
+--------+-------+--------+--------------------+---------+---------+-------------------+------------+
only showing top 20 rows

##**4. Distance between order and POI_ID**

In [ ]:
from pyspark.sql import functions as F
from pyspark.sql import DataFrameWriter as W
from math import radians, cos, sin, asin, sqrt

def get_distance(longit_a, latit_a, longit_b, latit_b):
# Transform to radians
  print("inside")
  longit_a, latit_a, longit_b, latit_b = map(radians, [longit_a,  latit_a, longit_b, latit_b])
  
  dist_longit = longit_b - longit_a
  dist_latit = latit_b - latit_a
  print(dist_latit)
# Calculate area
  area = sin(dist_latit/2)**2 + cos(latit_a) * cos(latit_b) * sin(dist_longit/2)**2
# Calculate the central angle
  central_angle = 2 * asin(sqrt(area))
  radius = 6371
# Calculate Distance
  distance = central_angle * radius
  return distance

In [ ]:
udf_get_distance = udf(get_distance)

In [ ]:
orders_dataset = spark.sql("SELECT * from ordersSQL")

In [ ]:
query = (
  orders_dataset
    .writeStream
    .format("memory")        # store in-memory table
    .queryName("all_orders")  
    .start()
)

In [ ]:
order_loc_pair = orders_dataset.crossJoin(df_poi)

In [ ]:
query = (
  order_loc_pair
    .writeStream
    .format("memory")        # store in-memory table
    .queryName("order_loc_join")  
    .start()
)

In [ ]:
spark.sql("SELECT * FROM order_loc_join").show(10)

+--------+-------+--------+-----------+--------+---------+-------------------+------------+------+------------+-------------+
|Order_ID|Country|Province|       City|Latitude|Longitude|          TimeStamp|Sales_Volume|POI_ID|Latitude_POI|Longitude_POI|
+--------+-------+--------+-----------+--------+---------+-------------------+------------+------+------------+-------------+
|456581.0| Canada|      ON|   Kingston|-76.4227| -76.3738|2022/04/22 03:25:20|       20.76| POI-1|   45.521629|   -74.085634|
|456581.0| Canada|      ON|   Kingston|-76.4227| -76.3738|2022/04/22 03:25:20|       20.76| POI-2|   53.596345|  -114.465122|
|456581.0| Canada|      ON|   Kingston|-76.4227| -76.3738|2022/04/22 03:25:20|       20.76| POI-3|   44.897823|   -62.987528|
|313471.0| Canada|      ON|     Oshawa|-78.8064| -78.7803|2022/04/22 02:11:24|       55.81| POI-1|   45.521629|   -74.085634|
|313471.0| Canada|      ON|     Oshawa|-78.8064| -78.7803|2022/04/22 02:11:24|       55.81| POI-2|   53.596345|  -114.465122|
|313471.0| Canada|      ON|     Oshawa|-78.8064| -78.7803|2022/04/22 02:11:24|       55.81| POI-3|   44.897823|   -62.987528|
|296186.0| Canada|      ON|Mississauga|-79.5615| -79.4881|2022/04/22 08:58:18|       73.09| POI-1|   45.521629|   -74.085634|
|296186.0| Canada|      ON|Mississauga|-79.5615| -79.4881|2022/04/22 08:58:18|       73.09| POI-2|   53.596345|  -114.465122|
|296186.0| Canada|      ON|Mississauga|-79.5615| -79.4881|2022/04/22 08:58:18|       73.09| POI-3|   44.897823|   -62.987528|
|484614.0| Canada|      NS|   Elmsdale|-63.4738| -63.4518|2022/04/22 03:17:15|       38.96| POI-1|   45.521629|   -74.085634|
+--------+-------+--------+-----------+--------+---------+-------------------+------------+------+------------+-------------+
only showing top 10 rows

In [ ]:
order_poi_pair_distance = order_loc_pair.withColumn("ABS_DISTANCE", 
                                                    udf_get_distance(
                                                        order_loc_pair.Longitude, order_loc_pair.Latitude, 
                                                        order_loc_pair.Longitude_POI, order_loc_pair.Latitude_POI).cast(DoubleType()))

In [ ]:
query = (
  order_poi_pair_distance
    .writeStream
    .format("memory")        # store in-memory table
    .queryName("order_pair_poi_for")
    .start()
)

In [ ]:
spark.sql("SELECT * FROM order_pair_poi_for").show()

+--------+-------+--------+-----------+---------+---------+-------------------+------------+------+------------+-------------+------------------+
|Order_ID|Country|Province|       City| Latitude|Longitude|          TimeStamp|Sales_Volume|POI_ID|Latitude_POI|Longitude_POI|      ABS_DISTANCE|
+--------+-------+--------+-----------+---------+---------+-------------------+------------+------+------------+-------------+------------------+
|456581.0| Canada|      ON|   Kingston| -76.4227| -76.3738|2022/04/22 03:25:20|       20.76| POI-1|   45.521629|   -74.085634| 13560.57540942165|
|456581.0| Canada|      ON|   Kingston| -76.4227| -76.3738|2022/04/22 03:25:20|       20.76| POI-2|   53.596345|  -114.465122|14708.515156710147|
|456581.0| Canada|      ON|   Kingston| -76.4227| -76.3738|2022/04/22 03:25:20|       20.76| POI-3|   44.897823|   -62.987528|13523.975425249477|
|313471.0| Canada|      ON|     Oshawa| -78.8064| -78.7803|2022/04/22 02:11:24|       55.81| POI-1|   45.521629|   -74.085634|13828.167095821125|
|313471.0| Canada|      ON|     Oshawa| -78.8064| -78.7803|2022/04/22 02:11:24|       55.81| POI-2|   53.596345|  -114.465122| 14911.74100551701|
|313471.0| Canada|      ON|     Oshawa| -78.8064| -78.7803|2022/04/22 02:11:24|       55.81| POI-3|   44.897823|   -62.987528|13795.117309337442|
|296186.0| Canada|      ON|Mississauga| -79.5615| -79.4881|2022/04/22 08:58:18|       73.09| POI-1|   45.521629|   -74.085634|13913.000545132365|
|296186.0| Canada|      ON|Mississauga| -79.5615| -79.4881|2022/04/22 08:58:18|       73.09| POI-2|   53.596345|  -114.465122|14978.286686600884|
|296186.0| Canada|      ON|Mississauga| -79.5615| -79.4881|2022/04/22 08:58:18|       73.09| POI-3|   44.897823|   -62.987528|13880.176162621146|
|484614.0| Canada|      NS|   Elmsdale| -63.4738| -63.4518|2022/04/22 03:17:15|       38.96| POI-1|   45.521629|   -74.085634|12155.982333269325|
|484614.0| Canada|      NS|   Elmsdale| -63.4738| -63.4518|2022/04/22 03:17:15|       38.96| POI-2|   53.596345|  -114.465122|13743.579775687887|
|484614.0| Canada|      NS|   Elmsdale| -63.4738| -63.4518|2022/04/22 03:17:15|       38.96| POI-3|   44.897823|   -62.987528|12050.444393214335|
|314695.0| Canada|      AB|   Edmonton|-113.4136|-113.3864|2022/04/22 18:12:53|        71.1| POI-1|   45.521629|   -74.085634| 16732.91485797118|
|314695.0| Canada|      AB|   Edmonton|-113.4136|-113.3864|2022/04/22 18:12:53|        71.1| POI-2|   53.596345|  -114.465122|18569.474474342485|
|314695.0| Canada|      AB|   Edmonton|-113.4136|-113.3864|2022/04/22 18:12:53|        71.1| POI-3|   44.897823|   -62.987528|16213.034677140147|
|387373.0| Canada|      QC|       Alma| -71.6201| -71.5953|2022/04/22 17:04:44|      100.52| POI-1|   45.521629|   -74.085634|13027.059839177384|
|387373.0| Canada|      QC|       Alma| -71.6201| -71.5953|2022/04/22 17:04:44|      100.52| POI-2|   53.596345|  -114.465122|14322.277609504961|
|387373.0| Canada|      QC|       Alma| -71.6201| -71.5953|2022/04/22 17:04:44|      100.52| POI-3|   44.897823|   -62.987528|12974.127896648639|
|249313.0| Canada|      AB|  Cold Lake|-110.1519| -110.083|2022/04/22 09:49:04|       90.39| POI-1|   45.521629|   -74.085634|16667.727432346484|
|249313.0| Canada|      AB|  Cold Lake|-110.1519| -110.083|2022/04/22 09:49:04|       90.39| POI-2|   53.596345|  -114.465122|18194.416882100322|
+--------+-------+--------+-----------+---------+---------+-------------------+------------+------+------------+-------------+------------------+
only showing top 20 rows

##**5. Shortest Distance between poi_id and order**

In [ ]:
shortest_dist_pair = spark.sql("Select Order_ID, Country, Province, City, TimeStamp, Sales_Volume, POI_ID, ABS_DISTANCE as shortestDistance 
    from (select Order_ID, Country, Province, City, TimeStamp, Sales_Volume, POI_ID, ABS_DISTANCE, 
          ROW_NUMBER() OVER(PARTITION BY Order_ID ORDER BY ABS_DISTANCE ASC) as rn from order_pair_poi_for) as a where rn = 1")

In [ ]:
shortest_dist_pair.show()

+--------+-------+--------+---------------+-------------------+------------+------+------------------+
|Order_ID|Country|Province|           City|          TimeStamp|Sales_Volume|POI_ID|  shortestDistance|
+--------+-------+--------+---------------+-------------------+------------+------+------------------+
|200041.0| Canada|      AB|       Edmonton|2022/04/22 02:04:24|       56.69| POI-3|16209.367269379594|
|200099.0| Canada|      ON|         Barrie|2022/04/22 22:02:27|       72.53| POI-3| 13889.52313484939|
|200137.0| Canada|      ON|      Brantford|2022/04/22 19:30:44|       32.78| POI-3|13954.071370976626|
|200171.0| Canada|      SK|      Saskatoon|2022/04/22 06:10:33|       81.83| POI-3|16167.766621680077|
|200183.0| Canada|      QC|       MontrÃ©al|2022/04/22 22:58:02|       56.63| POI-3|13188.188239030185|
|200231.0| Canada|      ON|        Toronto|2022/04/22 20:59:54|       77.48| POI-3|13857.486230055967|
|200242.0| Canada|      ON|          Maple|2022/04/22 21:46:03|       75.66| POI-3|13877.008501755896|
|200308.0| Canada|      AB|       Edmonton|2022/04/22 08:07:11|       24.16| POI-3|16213.958824715883|
|200311.0| Canada|      ON|    Scarborough|2022/04/22 22:42:08|        73.8| POI-3|13840.531448719365|
|200313.0| Canada|      ON|     North York|2022/04/22 08:08:26|       53.84| POI-3|13857.432057011318|
|200343.0| Canada|      ON|     North York|2022/04/22 09:40:05|       65.28| POI-3| 13883.55277105928|
|200374.0| Canada|      QC|     Sainte-Foy|2022/04/22 00:57:28|       67.34| POI-3| 12933.12339734304|
|200402.0| Canada|      ON|      Etobicoke|2022/04/22 06:56:16|       85.11| POI-3|13875.780855673485|
|200411.0| Canada|      ON|         London|2022/04/22 02:41:32|        71.3| POI-3|14075.198906805685|
|200423.0| Canada|      QC|  Saint-Laurent|2022/04/22 07:30:20|       72.22| POI-3|13199.483280073235|
|200427.0| Canada|      AB|       Edmonton|2022/04/22 23:15:59|        9.18| POI-3|16211.716737024386|
|200472.0| Canada|      AB|        Calgary|2022/04/22 10:55:55|       90.13| POI-3|16202.413827286347|
|200498.0| Canada|      BC|New Westminster|2022/04/22 06:31:24|       96.37| POI-3|15771.586821304587|
|200518.0| Canada|      AB|        Calgary|2022/04/22 13:53:05|        54.2| POI-3|16203.944398515156|
|200527.0| Canada|      AB|       Edmonton|2022/04/22 05:30:26|       10.64| POI-3|16210.497363194647|
+--------+-------+--------+---------------+-------------------+------------+------+------------------+
only showing top 20 rows

In [ ]:
print(shortest_dist_pair.count())

19352

In [ ]:
spark.sql("SELECT COUNT(*) as total_orders from all_orders").show()

+------------+
|total_orders|
+------------+
|       20000|
+------------+

In [ ]:
spark.sql("SELECT COUNT(*) as total_pair from order_pair_poi_for").show()

+----------+
|total_pair|
+----------+
|     60000|
+----------+

##**6. For each POI, get the average, standard deviation and max of the (shortest) distances, as well as the count of the orders.**

In [ ]:
poi_1 = spark.sql("Select Order_ID, Country, Province, City, TimeStamp, Sales_Volume, POI_ID, ABS_DISTANCE as POI_1 from (select Order_ID, Country, Province, City, TimeStamp, Sales_Volume, POI_ID, ABS_DISTANCE, ROW_NUMBER() OVER(PARTITION BY Order_ID ORDER BY ABS_DISTANCE ASC) as rn from order_pair_poi_for) as a where rn = 2")

In [ ]:
poi_1.createOrReplaceTempView("poi1sql")
poi_1.show(10)

+--------+-------+--------+-----------+-------------------+------------+------+------------------+
|Order_ID|Country|Province|       City|          TimeStamp|Sales_Volume|POI_ID|             POI_1|
+--------+-------+--------+-----------+-------------------+------------+------+------------------+
|200021.0| Canada|      AB|    Calgary|2022/04/22 03:54:48|       28.84| POI-1|16739.114815958008|
|200026.0| Canada|      ON|Mississauga|2022/04/22 18:07:48|       47.73| POI-1|13933.687819594936|
|200041.0| Canada|      AB|   Edmonton|2022/04/22 02:04:24|       56.69| POI-1|16735.547913862214|
|200099.0| Canada|      ON|     Barrie|2022/04/22 22:02:27|       72.53| POI-1|13922.339285128917|
|200137.0| Canada|      ON|  Brantford|2022/04/22 19:30:44|       32.78| POI-1|13986.676376570755|
|200154.0| Canada|      ON|  Etobicoke|2022/04/22 03:23:39|       47.43| POI-1|13906.197189891822|
|200171.0| Canada|      SK|  Saskatoon|2022/04/22 06:10:33|       81.83| POI-1|16512.932512404972|
|200183.0| Canada|      QC|   MontrÃ©al|2022/04/22 22:58:02|       56.63| POI-1|13233.614846500455|
|200220.0| Canada|      ON| North York|2022/04/22 11:13:05|       35.73| POI-1|13889.231926505223|
|200221.0| Canada|      ON|    Toronto|2022/04/22 12:11:31|        6.74| POI-1|13913.053183193237|
+--------+-------+--------+-----------+-------------------+------------+------+------------------+
only showing top 10 rows

In [ ]:
poi_2 = spark.sql("Select Order_ID, Country, Province, City, TimeStamp, Sales_Volume, POI_ID, ABS_DISTANCE as POI_2 from (select Order_ID, Country, Province, City, TimeStamp, Sales_Volume, POI_ID, ABS_DISTANCE, ROW_NUMBER() OVER(PARTITION BY Order_ID ORDER BY ABS_DISTANCE ASC) as rn from order_pair_poi_for) as a where rn = 3")

In [ ]:
poi_2.createOrReplaceTempView("poi2sql")
poi_2.show(10)

+--------+-------+--------+-----------+-------------------+------------+------+------------------+
|Order_ID|Country|Province|       City|          TimeStamp|Sales_Volume|POI_ID|             POI_2|
+--------+-------+--------+-----------+-------------------+------------+------+------------------+
|200021.0| Canada|      AB|    Calgary|2022/04/22 03:54:48|       28.84| POI-2|18637.666676177498|
|200026.0| Canada|      ON|Mississauga|2022/04/22 18:07:48|       47.73| POI-2|14993.946591700058|
|200041.0| Canada|      AB|   Edmonton|2022/04/22 02:04:24|       56.69| POI-2|18598.350544352586|
|200099.0| Canada|      ON|     Barrie|2022/04/22 22:02:27|       72.53| POI-2|14985.641290652007|
|200137.0| Canada|      ON|  Brantford|2022/04/22 19:30:44|       32.78| POI-2|15035.657605067863|
|200154.0| Canada|      ON|  Etobicoke|2022/04/22 03:23:39|       47.43| POI-2| 14972.50774136635|
|200171.0| Canada|      SK|  Saskatoon|2022/04/22 06:10:33|       81.83| POI-2|17780.899294918105|
|200183.0| Canada|      QC|   MontrÃ©al|2022/04/22 22:58:02|       56.63| POI-2| 14469.69003440266|
|200220.0| Canada|      ON| North York|2022/04/22 11:13:05|       35.73| POI-2|14959.376808340823|
|200221.0| Canada|      ON|    Toronto|2022/04/22 12:11:31|        6.74| POI-2|14977.975350976236|
+--------+-------+--------+-----------+-------------------+------------+------+------------------+
only showing top 10 rows

In [ ]:
poi_3 = spark.sql("Select Order_ID, Country, Province, City, TimeStamp, Sales_Volume, POI_ID, ABS_DISTANCE as POI_3 from (select Order_ID, Country, Province, City, TimeStamp, Sales_Volume, POI_ID, ABS_DISTANCE, ROW_NUMBER() OVER(PARTITION BY Order_ID ORDER BY ABS_DISTANCE ASC) as rn from order_pair_poi_for) as a where rn = 1")

In [ ]:
poi_3.createOrReplaceTempView("poi3sql")
poi_3.show(10)

+--------+-------+--------+-----------+-------------------+------------+------+------------------+
|Order_ID|Country|Province|       City|          TimeStamp|Sales_Volume|POI_ID|             POI_3|
+--------+-------+--------+-----------+-------------------+------------+------+------------------+
|200021.0| Canada|      AB|    Calgary|2022/04/22 03:54:48|       28.84| POI-3|16204.430710524315|
|200026.0| Canada|      ON|Mississauga|2022/04/22 18:07:48|       47.73| POI-3|13901.071108403206|
|200041.0| Canada|      AB|   Edmonton|2022/04/22 02:04:24|       56.69| POI-3|16209.367269379594|
|200099.0| Canada|      ON|     Barrie|2022/04/22 22:02:27|       72.53| POI-3| 13889.52313484939|
|200137.0| Canada|      ON|  Brantford|2022/04/22 19:30:44|       32.78| POI-3|13954.071370976626|
|200154.0| Canada|      ON|  Etobicoke|2022/04/22 03:23:39|       47.43| POI-3|13873.493500468629|
|200171.0| Canada|      SK|  Saskatoon|2022/04/22 06:10:33|       81.83| POI-3|16167.766621680077|
|200183.0| Canada|      QC|   MontrÃ©al|2022/04/22 22:58:02|       56.63| POI-3|13188.188239030185|
|200220.0| Canada|      ON| North York|2022/04/22 11:13:05|       35.73| POI-3|13856.437591728414|
|200221.0| Canada|      ON|    Toronto|2022/04/22 12:11:31|        6.74| POI-3|13880.335806262176|
+--------+-------+--------+-----------+-------------------+------------+------+------------------+
only showing top 10 rows

In [ ]:
described_POI_1=poi_1.describe("POI_1")

In [ ]:
described_POI_2 = poi_2.describe("POI_2")

In [ ]:
described_POI_3=poi_3.describe("POI_3")

In [ ]:
described_POI_1.show()
described_POI_2.show()
described_POI_3.show()

+-------+------------------+
|summary|             POI_1|
+-------+------------------+
|  count|             19352|
|   mean|15109.827047396564|
| stddev|1530.6776408920375|
|    min|1712.1563208646014|
|    max|16740.642478696762|
+-------+------------------+

+-------+------------------+
|summary|             POI_2|
+-------+------------------+
|  count|             19352|
|   mean|16560.579406317684|
| stddev|1900.7086609756088|
|    min|3338.7477498065414|
|    max|19362.138962533838|
+-------+------------------+

+-------+------------------+
|summary|             POI_3|
+-------+------------------+
|  count|             19352|
|   mean| 14849.40713889063|
| stddev|1311.4081868194046|
|    min| 1213.195025859299|
|    max|16235.167523975275|
+-------+------------------+

In [ ]:
maxCountShort1 = spark.sql("SELECT POI_1, COUNT(POI_1) as countMax from poi1sql GROUP BY POI_1 HAVING countMax>1 ORDER BY countMax DESC")
maxCountShort1.show()

+------------------+--------+
|             POI_1|countMax|
+------------------+--------+
|13894.019384039946|       2|
| 16731.98131773307|       2|
|16738.054640564547|       2|
|16733.607025889512|       2|
|16737.923787491272|       2|
|13895.929765918796|       2|
|13893.159582511029|       2|
|16736.571168994324|       2|
|13884.328685576496|       2|
+------------------+--------+

In [ ]:
maxCountShort2 = spark.sql("SELECT POI_2, COUNT(POI_2) as countMax from poi2sql GROUP BY POI_2 HAVING countMax>1 ORDER BY countMax DESC")
maxCountShort2.show()

+------------------+--------+
|             POI_2|countMax|
+------------------+--------+
|18634.829351109773|       2|
|18639.777675442947|       2|
|14962.189412526426|       2|
|14955.949261189555|       2|
|18566.090157244027|       2|
|14963.135053134714|       2|
| 14964.86847198125|       2|
| 18641.05685041603|       2|
|18569.980022897224|       2|
+------------------+--------+

In [ ]:
maxCountShort3 = spark.sql("SELECT POI_3, COUNT(POI_3) as countMax from poi3sql GROUP BY POI_3 HAVING countMax>1 ORDER BY countMax DESC")
maxCountShort3.show()

+------------------+--------+
|             POI_3|countMax|
+------------------+--------+
|13860.455651864271|       2|
|16200.975022242168|       2|
|16214.534265161397|       2|
|16202.696999054095|       2|
|13861.235134899494|       2|
|13863.078538739743|       2|
|13851.395700546907|       2|
|16211.925880285315|       2|
|16203.929747694508|       2|
+------------------+--------+

In [ ]:
maxCountShort1.show()
maxCountShort2.show()
maxCountShort3.show()

+------------------+--------+
|             POI_1|countMax|
+------------------+--------+
|13894.019384039946|       2|
| 16731.98131773307|       2|
|16738.054640564547|       2|
|16733.607025889512|       2|
|16737.923787491272|       2|
|13895.929765918796|       2|
|13893.159582511029|       2|
|16736.571168994324|       2|
|13884.328685576496|       2|
+------------------+--------+

+------------------+--------+
|             POI_2|countMax|
+------------------+--------+
|18634.829351109773|       2|
|18639.777675442947|       2|
|14962.189412526426|       2|
|14955.949261189555|       2|
|18566.090157244027|       2|
|14963.135053134714|       2|
| 14964.86847198125|       2|
| 18641.05685041603|       2|
|18569.980022897224|       2|
+------------------+--------+

+------------------+--------+
|             POI_3|countMax|
+------------------+--------+
|13860.455651864271|       2|
|16200.975022242168|       2|
|16214.534265161397|       2|
|16202.696999054095|       2|
|13861.235134899494|       2|
|13863.078538739743|       2|
|13851.395700546907|       2|
|16211.925880285315|       2|
|16203.929747694508|       2|
+------------------+--------+

##**7. Based on max distance and order counts calculate the density**

In [ ]:
import numpy as np

import math
def calculateDensity(orderCount, maxDistance):
   density = orderCount/(math.pi*(maxDistance ** 2))
   return density

In [ ]:
orderCount = int(described_POI_1.toPandas().POI_1.values[0])
maxDistance=maxCountShort1.toPandas().POI_1.values
maxDistance = np.array(maxDistance)
maxDistance = maxDistance.astype(float)
minValue = np.amin(maxDistance)
density_poi_1 = calculateDensity(orderCount, minValue)

In [ ]:
orderCount = int(described_POI_2.toPandas().POI_2.values[0])
maxDistance=maxCountShort2.toPandas().POI_2.values
maxDistance = np.array(maxDistance)
maxDistance = maxDistance.astype(float)
minValue = np.amin(maxDistance)
density_poi_2 = calculateDensity(orderCount, minValue)

In [ ]:
orderCount = int(described_POI_3.toPandas().POI_3.values[0])
maxDistance=maxCountShort3.toPandas().POI_3.values
maxDistance = np.array(maxDistance)
maxDistance = maxDistance.astype(float)
minValue = np.amin(maxDistance)
density_poi_3 = calculateDensity(orderCount, minValue)

In [ ]:

print("Density of POI 1 =", density_poi_1)

print("Density of POI 2 =", density_poi_2)

print("Density of POI 3 =", density_poi_3)

Density of POI 1 = 2.7538990512244087e-05
Density of POI 2 = 2.7538990512244087e-05
Density of POI 3 = 3.210620026390737e-05